{% extends 'base.html' %}


{% block title %}Comment Detail{% endblock %}

{% block content %}
<section class="center-wrapper">
  <div class="center-card">
    <h1 style="color:#0078a8;">Comment Detail</h1>
    <p><strong>Author:</strong> {{ comment.author }}</p>
    <p><strong>Created:</strong> {{ comment.created_at|date:"F j, Y, H:i" }}</p>
    <p style="margin-top:15px;">{{ comment.text|linebreaks }}</p>

    <div style="margin-top:30px;">
      <a href="{{ comment.article.get_absolute_url }}" class="btn btn-secondary">Back to Article</a>
    </div>
  </div>
</section>
{% endblock %}
